* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  padding-top: 40px;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
.site-logo {
  display: flex;
  align-items: center;
}
.site-logo h3 {
  margin-bottom: -10px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 43px;
  background: linear-gradient(#ffa740 0%, #ffe977 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools{
  display: flex;
  gap: 40px;
}
.tools a{
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}
.language{
  cursor: pointer;
  margin-bottom: -10px;
  padding: 0 10px;
}
.tel-icon{
  margin-right: 10px;
}
.icon{
  font-size: 24px;
  color: var(--link-color);
}
.lang-selector{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 14px;
  gap: 14px;
  margin-top: 40px;
  background-color: #727272;
}
.lang-btn{
  width: 315px;
  height: 30px;
  background-color: #fff;
  outline: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.selected{
  border: 1px solid #ffa740;
  border-radius: 8px;
  opacity: 1;
}