
.inner-nav{
  border-bottom: 1px solid #36373C;
  padding-bottom: 30px;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link{
  display: flex;
  align-items: center;
  gap: 10px;
}
.active{
  color: orange;
}
.navbar{
  padding-top: 48px;
}