.profile {
  height: 600px;
  width: 100%;
  margin-top: 35px;
}

.profile-inner {
  display: flex;
  background-color: var(--second-bg);
  border-radius: 10px;
}

.sidebar-ul {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 44px 20px;
  border-right: 2px solid var(--bg-color);
}
.outlet-profile {
  text-align: center;
  width: 75%;
  height: 100%;
}
.side-list {
  position: relative;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: left;
  border-bottom: 1px solid #727272;
  width: 100%;
  margin-bottom: 15px;
}
.side-link {
  position: relative;
  display: block;
  color: #727272;
  padding: 4px 0;
  padding-bottom: 10px;
}
.side-link .bi-chevron-right {
  position: absolute;
  right: -16px;
}
.active-link {
  border-bottom: 1px solid #faad52;
  width: 100%;
  .side-link {
    color: var(--link-color-active);
  }
}
.logout-btn {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  margin: 44px 0 30px 0;
  background-color: transparent;
  outline: none;
  border: 0;
  color: #dc3838;
  border-bottom: 1px solid #dc3838;
  padding: 5px 0;
  cursor: pointer;
}
.sidebtns {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 999;
  top: 5px;
  right: 0;
}
.sun {
  color: #faad52;
  margin-right: 10px;
}
.moon {
  color: var(--link-color);
  margin-left: 10px;
}
.checkbox-wrapper-6 .tgl {
  display: none;
}
.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 32px;
  height: 14px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn {
  background: linear-gradient(99.85deg, #c7c4c4 10.56%, #191919 100%);
  border-radius: 2em;
  transition: all 0.4s ease;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
  width: 12px;
  height: 12px;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
  background: linear-gradient(99.85deg, #c7c4c4 10.56%, #191919 100%);
  transition: all 0.4s ease;
}

.htitle {
  text-align: center;
  padding-top: 20px;
  color: var(--text-color);
}

.title-top {
  color: #fff;
  padding-top: 28px;
  padding-bottom: 15px;
}
.inner-hsection {
  color: #fff;
  h3{
  min-width: 300px;
  max-width: 676px;
    margin: 20px auto;
    padding-left: 10px;
  }
}

.where {
  min-width: 300px;
  max-width: 676px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 30px;
  border-bottom: 1px solid #36373C;
  padding-bottom: 10px;
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.where-input {
  height: 30px;
  min-width: 100px;
  max-width: 277px;
  height: 100%;
  border-radius: 8px;
  border: 0;
  padding: 0 8px;
  background-color: #2C2D2F;
  color: #fff;
}
.where-input:focus{
  outline: 0;
  border: 0;
}
.icon-wh{
  margin: 0 6px;
}
.search-btn {
  min-width: 30px;
  max-width: 60px;
  min-height: 30px;
  max-height: 60px;
  background: linear-gradient(129.93deg, #faad52 11.21%, #ffea7f 83.22%);
  border: 0;
  outline: 0;
  border-radius: 6px;
  opacity: 0px;
  margin: 0 4px;
}

@media  screen and (min-width: 992px){
  .container-fluid{
    max-width: 1440px;
    margin: 15px auto;
    padding:0 290px ;
  } 
  .where {
    border-bottom: 0;
  }
  .inner-hsection h3{
    display: none;
  }
}
@media screen and (max-width: 1300px){
  .container{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 10px !important;
  }
}
@media screen and (max-width: 1100px){
  .sidebar-ul{
    display: block;
    width: 100%;
  }
  .profile-inner{
    background-color: var(--bg-color);
  }
  .outlet-profile{
    width: 100%;
  }
  .mb-none{
    display: none !important;
  }
  .mb-block{
    display: block !important;
  }
}
@media screen and (min-width: 1100px){
  .back-btn{
    display: none;
  }
  .min-none{
    display: none;
  }
}
.back-btn{
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 10px;
  color: var(--text-color);
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.Profile-title{
  color: var(--text-color);
  padding: 0 20px;
  font-style: 22px;
}
.cap-wrapper{
  display: flex;
  justify-content: space-between;
  i{
    color: #FF4B26;
    font-size: x-large;
    padding-right: 20px;
    cursor: pointer;
  }
}
.user-info{
  text-align: center;
  color: var(--text-color);
  img{
    padding-top: 30px;
  }
}